.toggle-label {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 80px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #dfe7fd;
  user-select: none;
}

.toggle-label:focus {
  outline: #f8961e;
}

.toggle-input {
  /* display: none; */
  opacity: 0;
  width: 1px;
  height: 1px;
}

.toggle-button {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 6px;
  top: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: transform 0.4s ease, background-color 0.4s ease;
  padding: 2px 2px;
}

.toggle-input:focus + .toggle-button {
  box-shadow: 0 0 0 5px #9bb1ff;
}

.toggle-input:checked + .toggle-button {
  transform: translateX(38px);
  background-color: #ffffff;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}

.sun {
  color: #353535;
}

.moon {
  color: #353535;
}

.horizontal-line {
  background: linear-gradient(to right, var(--border-shadow-color));
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  opacity: 0.3;
  height: 1px;
  margin: 20px -20px;
}
