.toggle-label {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 60px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #e9ecee;
  user-select: none;
  background: linear-gradient(to right, #669bbc, #8ecae6, #a2d2ff);
}

.toggle-label:focus {
  outline: #f8961e;
}

.toggle-input {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.toggle-button {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 3px;
  border-radius: 50%;
  background-color: var(--bg);
  transition: transform 0.4s linear, background-color 0.4s ease;
  padding: 10px;
  top: 50%;
}

.toggle-label:has(.toggle-input:focus) {
  outline: 2px solid #adb5bd;
  outline-offset: 1px; /* pushes the outline out slightly */
}

.toggle-input:checked + .toggle-button {
  transform: translate(28px, -50%);
}
.toggle-input:not(:checked) + .toggle-button {
  transform: translate(0, -50%);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.sun,
.moon {
  color: var(--text-color);
}

.horizontal-line {
  opacity: 0.1;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
}
