.toggle-label {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 60px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #e9ecee;
  user-select: none;
}

.toggle-label:focus {
  outline: #f8961e;
}

.toggle-input {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.toggle-button {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  top: 1.5px;
  border-radius: 50%;
  background-color: var(--bg);
  transition: transform 0.4s ease, background-color 0.4s ease;
  padding: 10px;
}

.toggle-input:focus + .toggle-button {
  border: 0.1px solid rgb(201, 164, 164);
}

.toggle-input:checked + .toggle-button {
  transform: translateX(27px);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.sun,
.moon {
  color: var(--text-color);
}

.horizontal-line {
  background: linear-gradient(to right, var(--border-shadow-color));
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  opacity: 0.3;
  height: 1px;
  margin: 20px -20px;
}
