:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  --font-weight-light: 500;
  --font-weight-medium: 700;
  --border-shadow-color: rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
  color: var(--text-color);
}

body {
  min-height: 100vh;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

[data-theme='dark'] {
  --bg: #2b2d42;
  --bg-color: linear-gradient(45deg, #1d3557, #1b4965);
  --text-bg: white;
  --text-color: #edf2f4;
  --text-color-shadow: 0 0.5px 3px #bcb8b1;
  --bg-inverse: #fffffc;
  --text-color-inverse: #2b2d42;
  --outline-color: #2b2d42;
}

[data-theme='light'] {
  --bg-color: linear-gradient(45deg, #caf0f8, #e9ecef);
  --bg: #fffffc;
  --text-bg: #fffffc;
  --text-color-shadow: 0px 0.5px 3px #bcb8b1;
  --text-color: #2b2d42;
  --bg-inverse: #2b2d42;
  --text-color-inverse: #edf2f4;
  --outline-color: orange;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
}

button {
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  margin-right: 10px;
  outline: var(--text-color);
  background-color: var(--text-bg);
  text-shadow: var(--text-color-shadow);
  transition: background-color 0.3s ease;
}

button:focus {
  outline: 3px solid #adb5bd;
  outline-offset: 1px;
}

button:hover {
  background-color: #e5e5e5;
}

fieldset {
  border: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
